@import url('../../BaseCss/base.css');
/* span{
    font-size: 2rem;
    font-weight: 600;
    color:var(--main-color);
} */

*{
    font-size: 1.6rem;
    font-weight: 400;

}
.request-details ul{
    flex-direction: column;
   
}
.request-details li{
    font-size: 1.8rem;
}
/* input{
    padding: 20px !important;
    width: 100%;
    min-height: 20px;
    height: 40px;
    border-radius: 5px;
    border: 2px;
    border-color: var(--main-color);
    margin-left: 10px;
    font-size:2rem !important;
} */
.CusInfo{
    display: flexbox;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    margin: 10px 0;
    
}
.cusInfo-mainInformation{
    border: 3px solid var(--main-color);
    border-radius: 10px;
}
.CusInfo-Detail:first-child{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-top: 20px;
}
.CusInfo-Detail:last-child{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-bottom: 20px;
}
.CusInfo-Detail{
    padding: 5px 20px;
    background-color: var(--white-color) ;
}


/*Details Css*/
.details-Box{
    padding: 10px 0;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}

.request-details {
    width: calc(33% - 30px);
    margin: 10px;
    border-radius: 10px;
    border: 3px solid var(--main-color); /* thêm solid vào border */
    background-color: var(--primary-color);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.Req-Component{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.request-details .Req-Component:first-child {
    padding-top: 40px;
}

.request-details .Req-Component:last-child {
    margin-left: 0 !important;
    padding: 0 !important;
    padding-bottom: 40px !important;
    width: 100%;
}



.detail-select{
    background-color: var(--white-color);
    width: 100%;
}

.Main-button{

    display: flex;
    justify-content: flex-start;
}
.back-button{
    padding: 10px 20px;
    background-color: var(--highlight-color);
    margin: 10px;
    border-radius: 5px;
}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
    min-height: 40px !important;
    font-size: 1.8rem !important;
}
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root{
    font-size: 1.8rem !important;
}
label{
    font-size: 2rem;
    font-weight: 600;
}
.request-box{
    margin: 20px;
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--text-color);
}
.CusInfo-Detail.ID,
.CusInfo-Detail.Es{
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--main-color);
    text-align: end;
}
.CusInfo-Detail.Info{
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--black-color);
    
}